<mat-form-field appearance="fill" class="Wrapper">
  <mat-label>Month and Year</mat-label>
  <input [attr.test-id]="'inputMonthSelector'" [max]="maxDate" matInput [matDatepicker]="dp" [formControl]="date" />
  <mat-datepicker-toggle [attr.test-id]="'inputMonthSelectorToggle'" matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker
    #dp
    startView="year"
    (yearSelected)="chosenYearHandler($event)"
    (monthSelected)="chosenMonthHandler($event, dp)"
  >
  </mat-datepicker>
</mat-form-field>
